@import 'variables.css';
@import 'header.css';
@import 'main.css';
@import 'footer.css';

/* Для всей разметки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-size: var(--font-size-base);
  line-height: 1.5;

  /* Sticky Footer (Flexbox) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1; /* Забирает всё свободное пространство, толкая footer вниз */
}

a {
  text-decoration: none; /* Убрать нижнее подчеркивание */
  color: inherit; /* Наследовать цвет от родительского контейнера */
}

/* Скрытая ссылка */
.skip-link {
  position: absolute;
  top: -100px; /* Спрятать ссылку за пределы экрана */
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--spacing-sm) var(--spacing-md);
  z-index: 1000;
  transition: top 0.3s ease;
}

/* Показать ссылку только тогда, когда на нее переходят клавишей Tab */
.skip-link:focus {
  top: 0;
}
